# Database
DATABASE_URL=sqlite:///./portfolio.db

# Security
SECRET_KEY=your-super-secret-key-change-this-in-production

# Admin Credentials (Change these in production!)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123

# Cloudinary (For image storage)
CLOUDINARY_CLOUD_NAME=dder77py4
CLOUDINARY_API_KEY=511933965842397
CLOUDINARY_API_SECRET=anl5fjKAdHHwFYpEurTpfm2VyPQ
# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# API
API_HOST=0.0.0.0
API_PORT=8000

# Email (Optional for future email notifications)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=your-email@gmail.com
SENDER_PASSWORD=your-app-password
